body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.etapaCard {
  border: 1px solid rgb(255, 255, 255);
  margin: 0.5rem;
  padding: 0.5rem;
}

h2 {
  text-align: center;
}

.label-checked {
  color: red; /* Cor para animais marcados */
}