body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.etapaCard {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 20rem;
  min-height: 31.7rem;
  background-color: rgb(19, 18, 18);
}

h2 {
  text-align: center;
}

p {
  display: flex;
  justify-content: flex-end;
  color: yellow;
  margin-right: 1rem;
}

footer p {
  display: flex;
  justify-content: center;
  color: white;
}

.label-checked {
  color: red; /* Cor para animais marcados */
}